@model IEnumerable<Team>

<ul class="list-group">
    <li class="list-group-item"><a asp-action="Index" asp-controller="Home" asp-route-team="" class="text-dark">Home</a></li>

    @foreach (var x in Model)
    {
        @if (ViewBag.TeamName == x.TeamName)
        {
            <li class="list-group-item active">
                <a asp-action="Index" asp-controller="Home"
                   asp-route-team="@x.TeamName" class="text-dark">@x.TeamName</a>
                <br />
            </li>
        }
        else
        {
            <li class="list-group-item">
                <a asp-action="Index" asp-controller="Home"
                   asp-route-team="@x.TeamName" class="text-dark">@x.TeamName</a>
                <br />
            </li>
        }
    }
</ul>